# Build directories
/build/
/cmake-build-*/

# Object files and executables
*.o
*.obj
*.exe
*.out
8_BIT_CPU

# NASM temporary files
*.lst
*.map

# verilog and vhdl files
*.out
*.vvp
*.vcd

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# OS files
.DS_Store
Thumbs.db

# IDE/editor files (VSCode, etc.)
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*